body {
    background-color: beige;
    color: darkgreen;
    font-family: Georgia, serif;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    padding-bottom: 60px;
}

.recipe-list {
    display: flex;
    justify-content: center;
}

li {
    margin-bottom: 15px;
}

a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: underline;
    color: darkgreen;
  }
  
  a:active {
    text-decoration: underline;
  }